.actions.admin
  .btn-group.pull-right
    %a.btn.btn-primary.edit.area Edit
    %a.btn.btn-danger.delete.area Delete


%a.btn.btn-primary.back{href: "#"} ←
%h2.name= name

.pois
.actions.admin
  %a.btn.btn-primary.add{href: "#areas/" + id + "/pois/new"} Create new POI


