!!!
%html.no-js.visit{lang: "", manifest: "/manifest.manifest"}
  %head
    %meta{:charset => "utf-8"}/
    %title PlanMyTrip
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "styles/main.css", :rel => "stylesheet"}/
    %link{:href => "bower_components/leaflet/dist/leaflet.css", :rel => "stylesheet"}/
    %script{:src => "bower_components/modernizr/modernizr.js"}
    %link{:rel => "manifest", :href => "scripts/manifest.json"}
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}

  %body
    /[if lt IE 10]
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    .container
      #map
      #main
        .back ⇽ Back
        .tab
      #status
      #more

    / Google Analytics: change UA-XXXXX-X to be your site's ID.
    :javascript
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');

    %script{"data-main" => "scripts/visit", :src => "bower_components/requirejs/require.js"}



